In [3]:
def add_nums(x,y):
    return x+y

In [4]:
add_nums(10,20)

30

In [5]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [6]:
def add_nums(x,y=0):
    return x+y

In [7]:
add_nums(10,20)

30

In [8]:
add_nums(10)

10

In [9]:
add_nums(10,20,30)

TypeError: add_nums() takes from 1 to 2 positional arguments but 3 were given

In [10]:
def add_nums(x,y=0):
    """add_nums function must be called with 2 digits to get the sum of them"""
    return x+y

In [11]:
add_nums.__doc__

'add_nums function must be called with 2 digits to get the sum of them'

In [12]:
add_nums(100,200)

300

#  *args

In [25]:
def add_nums(x,*y):
    print(f"x is {x}")
    print(f"y is {y}")

    return x+sum(y)

In [30]:
add_nums(10,20,30,40,50,60,70,90,100,1000)

x is 10
y is (20, 30, 40, 50, 60, 70, 90, 100, 1000)

1470

In [31]:
add_nums(10)

x is 10
y is ()

10

In [32]:
def add_nums(*x):
    return sum(x)

In [33]:
add_nums()

0

In [34]:
add_nums(10)

10

In [35]:
add_nums(10,20)

30

In [36]:
add_nums(10,20,30)

60

In [37]:
add_nums(10,20,30,40)

100

# **kwargs

In [38]:
def emp_info(**x):
    print(f"x is {x}")
    print(type(x))

In [39]:
emp_info(fname="Raghul",lname="Ramesh",city="Chennai",exp=19)

x is {'fname': 'Raghul', 'lname': 'Ramesh', 'city': 'Chennai', 'exp': 19}
<class 'dict'>

In [40]:
emp_info(fname="Durga",lname="Devi",city="Bangalore",exp=10,salary=100000,tech="Python")

x is {'fname': 'Durga', 'lname': 'Devi', 'city': 'Bangalore', 'exp': 10, 'salary': 100000, 'tech': 'Python'}
<class 'dict'>

In [41]:
def emp_info(**x):
    for k in x.keys():
        print(k + " ===> "+str(x[k]))

In [42]:
emp_info(fname="Durga",lname="Devi",city="Bangalore",exp=10,salary=100000,tech="Python")

fname ===> Durga
lname ===> Devi
city ===> Bangalore
exp ===> 10
salary ===> 100000
tech ===> Python

In [43]:
emp_info(fname="Raghul",lname="Ramesh",city="Chennai",exp=19)

fname ===> Raghul
lname ===> Ramesh
city ===> Chennai
exp ===> 19

In [56]:
def emp_info(*x, **y):
    print("Company name is : ", x[0])
    print("Office location is :", x[1])
    for k in y.keys():
        print(k + " ===> "+str(y[k]))

In [57]:
emp_info("ERICSSON", "CHENNAI", fname="Durga",lname="Devi",city="Bangalore",exp=10,salary=100000,tech="Python")

Company name is :  ERICSSON
Office location is : CHENNAI
fname ===> Durga
lname ===> Devi
city ===> Bangalore
exp ===> 10
salary ===> 100000
tech ===> Python